<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinnuna.uiwidgettest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIWidgetTest">
        <activity android:name=".LoginActivity2"
            android:label="账号密码登录"></activity>
        <activity
            android:name=".SignActivity"
            android:label="注册"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="哈哈哈什么也没有">
            <intent-filter>
                <action android:name="com.xinnuna.uiwidgettest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="登录百度账号">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>